name: Release Files Changed

on:
  push:
    branches:
      - 'main'
    paths:
      - 'releases/release-*/release.yml'
      - 'releases/release-*/tag-*.yml'

jobs:
  gather_files:
    runs-on: ubuntu-latest
    outputs:
      release_files: ${{ steps.set_release_files.outputs.files }}
      tag_files: ${{ steps.set_tag_files.outputs.files }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Get changed release definitions
        id: changed_release_files
        uses: tj-actions/changed-files@v46
        with:
          files: releases/release-*/release.yml
      - name: Gather release files as json list
        id: set_release_files
        run: |
          echo "files=$(echo -n ${{ steps.changed_release_files.outputs.all_changed_files }} | jq -R -s -c 'split(" ")')"  >> $GITHUB_OUTPUT
      - name: Get changed tag definitions
        id: changed_tag_files
        uses: tj-actions/changed-files@v46
        with:
          files: releases/release-*/tag-*.yml
      - name: Gather tag files as json list
        id: set_tag_files
        run: |
          echo "files=$(echo -n ${{ steps.changed_tag_files.outputs.all_changed_files }} | jq -R -s -c 'split(" ")')"  >> $GITHUB_OUTPUT

  create_branches:
    name: Create Release Branches for ${{ matrix.release_file }}
    needs: gather_files
    if: ${{ needs.gather_files.outputs.release_files != '[]' }}
    strategy:
      matrix:
        release_file: ${{ fromJson(needs.gather_files.outputs.release_files) }}
    uses: ./.github/workflows/create-release-branches-for-release.yml
    with:
      release_file: ${{ matrix.release_file }}
    secrets:
      release_bot_token: ${{ secrets.RELEASE_BOT_TOKEN }}

  create_tags:
    name: Create Release Tags for ${{ matrix.tag_file }}
    needs: gather_files
    if: ${{ needs.gather_files.outputs.tag_files != '[]' }}
    strategy:
      matrix:
        tag_file: ${{ fromJson(needs.gather_files.outputs.tag_files) }}
    uses: ./.github/workflows/create-tags-for-release.yml
    with:
      tag_file: ${{ matrix.tag_file }}
    secrets:
      release_bot_token: ${{ secrets.RELEASE_BOT_TOKEN }}
